/* | Device Type        | Min–Max Widths | CSS Breakpoint Example       |
| ------------------ | -------------- | ---------------------------- |
| Mobile (portrait)  | 320–480px      | `@media (max-width: 480px)`  |
| Mobile (landscape) | 480–768px      | `@media (max-width: 768px)`  |
| Tablet             | 768–1024px     | `@media (max-width: 1024px)` |
| Laptop             | 1024–1440px    | `@media (min-width: 1024px)` |
| Desktop            | 1440–1920px+   | `@media (min-width: 1440px)` |
 */

html {
  font-size: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
  margin: 25px 25px;
  background-image: linear-gradient(
      216deg,
      rgba(77, 77, 77, 0.01) 0%,
      rgba(77, 77, 77, 0.01) 25%,
      rgba(42, 42, 42, 0.01) 25%,
      rgba(42, 42, 42, 0.01) 38%,
      rgba(223, 223, 223, 0.05) 38%,
      rgba(223, 223, 223, 0.05) 75%,
      rgba(36, 36, 36, 0.02) 75%,
      rgba(36, 36, 36, 0.02) 100%
    ),
    linear-gradient(
      44deg,
      rgba(128, 128, 128, 0.05) 0%,
      rgba(128, 128, 128, 0.05) 34%,
      rgba(212, 212, 212, 0.05) 34%,
      rgba(212, 212, 212, 0.05) 57%,
      rgba(25, 25, 25, 0.02) 57%,
      rgba(25, 25, 25, 0.02) 89%,
      rgba(135, 135, 135, 0.05) 89%,
      rgba(135, 135, 135, 0.05) 100%
    ),
    linear-gradient(
      241deg,
      rgba(55, 55, 55, 0.04) 0%,
      rgba(55, 55, 55, 0.04) 14%,
      rgba(209, 209, 209, 0.05) 14%,
      rgba(209, 209, 209, 0.05) 60%,
      rgba(245, 245, 245, 0.05) 60%,
      rgba(245, 245, 245, 0.05) 69%,
      rgba(164, 164, 164, 0.05) 69%,
      rgba(164, 164, 164, 0.05) 100%
    ),
    linear-gradient(
      249deg,
      rgba(248, 248, 248, 0.05) 0%,
      rgba(248, 248, 248, 0.05) 32%,
      rgba(148, 148, 148, 0.05) 32%,
      rgba(148, 148, 148, 0.05) 35%,
      rgba(202, 202, 202, 0.05) 35%,
      rgba(202, 202, 202, 0.05) 51%,
      rgba(181, 181, 181, 0.05) 51%,
      rgba(181, 181, 181, 0.05) 100%
    ),
    linear-gradient(92deg, rgb(255, 254, 245), rgb(255, 254, 245));
  width: auto;
  height: fit-content;
  background-attachment: fixed;
}

/* ADD JS FUNCTIONALITY FOR DARK/LIGHT MODE. FOR THE FIRST COLOR BASE IT OFF TIME */
.dark-background {
  background-image: linear-gradient(
      396deg,
      rgba(77, 77, 77, 0.1) 0%,
      rgba(77, 77, 77, 0.1) 25%,
      rgba(42, 42, 42, 0.03) 25%,
      rgba(42, 42, 42, 0.03) 38%,
      rgba(223, 223, 223, 0.05) 38%,
      rgba(223, 223, 223, 0.05) 75%,
      rgba(36, 36, 36, 0) 75%,
      rgba(36, 36, 36, 0) 100%
    ),
    linear-gradient(
      224deg,
      rgba(128, 128, 128, 0.05) 0%,
      rgba(128, 128, 128, 0.05) 34%,
      rgba(212, 212, 212, 0.05) 34%,
      rgba(212, 212, 212, 0.05) 57%,
      rgba(25, 25, 25, 0) 57%,
      rgba(25, 25, 25, 0) 89%,
      rgba(135, 135, 135, 0.02) 89%,
      rgba(135, 135, 135, 0.02) 100%
    ),
    linear-gradient(
      421deg,
      rgba(55, 55, 55, 0) 0%,
      rgba(55, 55, 55, 0) 14%,
      rgba(209, 209, 209, 0.05) 14%,
      rgba(209, 209, 209, 0.05) 60%,
      rgba(245, 245, 245, 0.02) 60%,
      rgba(245, 245, 245, 0.02) 69%,
      rgba(164, 164, 164, 0) 69%,
      rgba(164, 164, 164, 0) 100%
    ),
    linear-gradient(
      429deg,
      rgba(248, 248, 248, 0.03) 0%,
      rgba(248, 248, 248, 0.03) 32%,
      rgba(148, 148, 148, 0.06) 32%,
      rgba(148, 148, 148, 0.06) 35%,
      rgba(202, 202, 202, 0.04) 35%,
      rgba(202, 202, 202, 0.04) 51%,
      rgba(181, 181, 181, 0) 51%,
      rgba(181, 181, 181, 0) 100%
    ),
    linear-gradient(272deg, hsl(214, 0%, 11%), hsl(214, 0%, 11%));
}

/* previously  #1E1E1E cant decide on color*/
h1 {
  font-size: clamp(2.4rem, 6vw, 3.2rem);
  font-weight: 700;
  margin-bottom: 0.5em;
  font-family: "Lora", serif;
  color: #4bb3fd;
}

h2 {
  font-size: clamp(1.3rem, 4vw, 1.6rem);
  font-weight: 600;
  margin-bottom: 0.5em;
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  color: #669bbc;
}

h3 {
  font-size: clamp(1.2rem, 4vw, 1.4rem);
  font-weight: 600;
  margin-bottom: 1em;
  margin-top: 2em;
  font-family: "Montserrat", sans-serif;
  color: #669bbc;
}

h4 {
  font-size: clamp(1.1rem, 3vw, 1.2rem);
  font-weight: 450;
  margin-bottom: 0.4em;
  font-family: "Montserrat", sans-serif;
  color: #2a2a2a;
}

p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1em;
  max-width: 60ch;
  font-family: "Montserrat", sans-serif;
  color: #2a2a2a;
}

small {
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  color: #666;
}

header h1 {
  margin: 0px;
  margin-top: 2rem;
}

header h2 {
  margin: 0px;
}

header p {
  margin: 10px 0px;
}

.icon-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

/* github logo color change in html */
.icon-links svg {
  width: 35px;
  height: 35px;
  fill: #669bbc;
}

li svg {
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

li svg:hover {
  opacity: 1;
}

.card h4 {
  margin: 0px;
  width: fit-content;
}

.card {
  margin-bottom: 20px;
}

.uva-centered {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.uva-centered > svg {
  width: clamp(15px, 3vw, 20px);
  height: clamp(15px, 3vw, 20px);
}

.card p {
  margin: 0;
}

@media (max-width: 480px) {
  .experience-grid {
    display: block;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .sml1 {
    display: none;
  }
  .sml2 {
    display: none;
  }
  .built-with-desktop {
    display: none;
  }
}

@media (min-width: 481px) {
  .experience-grid {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 0.2fr 1fr;
    gap: 10px;
  }

  .exp1 {
    grid-row: 1;
    grid-column: 2;
  }

  .exp2 {
    grid-row: 2;
    grid-column: 2;
  }

  .card > small {
    display: none;
  }

  .built-with-mobile {
    display: block;
  }

  .built-with-desktop {
    display: none;
  }
}

/* ANIMATIONS */
@keyframes fade-up {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0px);
  }
}

/* MEDIA QUERIES */
@media (min-width: 840px) {
  body {
    margin: 25px 40px;
  }
}

@media (min-width: 1070px) {
  .desktop-wrapper {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 0.5fr 400px 500px 0.5fr;
    grid-template-rows: 1;
    gap: 30px;
  }

  .left-wrapper {
    grid-row: 1;
    grid-column: 2;
    position: fixed;
    left: calc((100vw - 1000px) / 2);
    height: 88.3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .right-wrapper {
    grid-row: 1;
    grid-column: 3;
  }

  .desktop-icon-links {
    display: flex;
    flex-direction: column;
  }

  .left-wrapper p {
    width: 270px;
  }

  .built-with-mobile {
    display: none;
  }

  .built-with-desktop {
    display: block;
  }
}

@media (min-width: 1350px) {
  .desktop-wrapper {
    grid-template-columns: 0.5fr 560px 630px 0.5fr;
  }

  .left-wrapper {
    left: calc((100vw - 1200px) / 2);
    height: 88.3vh;
  }
}
