html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    60deg,
    #0a1128,
    #001f54,
    #0a1128,
    #001f54,
    #0a1128
  );
  background-size: 400% 400%;
  font-family: "Merriweather", serif;
  margin-left: 0px;
  margin-top: 0px;
  animation: gradient 30s infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.main-container {
  display: grid;
  grid-template-rows: repeat(5, 100vh);
}

/* NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR */

.nav-content {
  width: 100%;
  height: 7vh;
  display: flex;
  background-color: #0a112800;
  font-family: "Montserrat", sans-serif;
  font-size: 2vh;
  position: fixed;
  top: 0;
  justify-content: flex-end;
  align-content: center;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
}

.nav-menu a {
  position: relative;
  display: inline-block;
  padding: 3px 10px;
  color: #fefcfb;
  text-decoration: none;
  font-weight: 500;
  overflow: hidden;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.nav-menu a:hover {
  transform: translateY(-1px);
}

.nav-menu a::after {
  position: absolute;
  content: "";
  height: 3px;
  left: 5%;
  bottom: -1px;
  width: 90%;
  transform: scaleX(0);
  background: linear-gradient(50deg, #001f54, #034078);
  transition: transform 0.2s ease;
  color: #e9ecef;
}

.nav-menu a:hover::after {
  transform: scaleX(1);
}

#nav1,
#nav2,
#nav3,
#nav4,
#nav5 {
  top: -20rem;
  animation-name: drop-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#nav1 {
  animation-delay: 0.6s;
}
#nav2 {
  animation-delay: 0.45s;
}
#nav3 {
  animation-delay: 0.3s;
}
#nav4 {
  animation-delay: 0.15s;
}
#nav5 {
  animation-delay: 0s;
}

@keyframes drop-in {
  to {
    top: 0px;
  }
}

/* BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY  */

h1 {
  color: #fefcfb;
  font-size: 10vh;
  text-wrap: nowrap;
  margin: 0;
  line-height: 1.1;
}

p {
  color: #fefcfb;

  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 2vh;
  font-family: "Montserrat", sans-serif;
}

#about > div.about-wrapper > div.about-title > h1 {
  border-bottom: 2px solid #034078;
  display: inline-block;
  opacity: 0;
}

#about > div.about-wrapper > div.about-text > p {
  margin-top: 20px;
  opacity: 0;
}

.pfp img {
  border-radius: 50%;
  height: auto;
  border: 3px solid #034078;
  opacity: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s ease;
}

.pfp a {
  transition: transform 0.5s ease;
}

.pfp img:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.pfp a:hover {
  transform: translateY(-3px);
}

.pfp {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

#about {
  scroll-snap-align: start;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1.2fr 2fr 1fr;
}

.about-wrapper {
  grid-row: 2;
  grid-column: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about > div.about-wrapper > div.about-title > h1,
#about > div.about-wrapper > div.about-text > p,
.pfp img {
  animation-name: fade-in;
  animation-duration: 2s;
  animation-delay: 1.7s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#skills {
  scroll-snap-align: start;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr 2fr 50px 0.3fr 20px 0.3fr 1fr;
}

.skills-text {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-text > h1 {
  border-bottom: 2px solid #034078;
  display: inline-block;
  align-self: flex-start;
}

#skills .white-line {
  width: 2px;
  height: auto;
  background-color: white;
  grid-row: 2;
  grid-column: 5;
  display: flex;
  justify-self: center;
}

.skills-icons {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.skills-icons-left {
  grid-row: 2;
  grid-column: 4;
}

.skills-icons-right {
  grid-row: 2;
  grid-column: 6;
}

.skills-icons > img {
  width: 9vh;
}

#bootstrap-icon {
  width: 10.5vh;
}

#js-icon {
  width: 8vh;
}

#experience {
  scroll-snap-align: start;
  display: grid;
  grid-template-rows: 1.5fr 0.3fr 1fr 0.2fr 1fr 1fr;
  grid-template-columns: 1fr 2.6fr 1fr;
}

.uva-title-wrapper {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#experience > div.uva-title-wrapper > div.uva-year > h2 {
  margin-top: 20%;
}

#experience h1 {
  font-family: "adobe-caslon-pro", serif;
  font-weight: lighter;
  font-size: 2.5vh;
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
  letter-spacing: 1px;
}

#experience h2 {
  color: #fefcfb;
  font-size: 2vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 0;
}

.uva-body-wrapper {
  grid-row: 3;
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

.relevant-experience {
  grid-row: 4;
  grid-column: 2;
  display: flex;
  align-self: center;
  margin-top: 10px;
}

.relevant-experience-body {
  grid-row: 5;
  grid-column: 2;
}

.bigger {
  font-size: 3vh;
}

.uva-icon > img {
  width: 50vh;
}

#projects {
  scroll-snap-align: start;
}

#contact {
  scroll-snap-align: start;
}
